<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="stylesheets/main_stylesheet.css">
    <link rel="stylesheet" href="stylesheets/care.css">
    <title>Taking care of a cat</title>
</head>

<body>

    <div class="nav">
        <header>
            <table>
                <tr>
                    <td class="left">
                        <a href="Home.html">
                            <img src="images/nav_logo.png" alt="Adopt a cat/dog logo"></a>
                    </td>
                    <td class="center">
                        <h1 class="nav_title">Precious Animal World</h1>
                    </td>
                    <td class="right">
                        <div>
                            <a href="#" id="nav_time"></a>
                        </div>
                        <script src="javascripts/time.js"></script>
                    </td>
                </tr>
            </table>
        </header>
    </div>
    <div class="sidemenu">
        <nav>
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="pets">Browse Available Pets</a></li>
                <li><a href="Find">Find a dog/cat</a></li>
                <li><a href="DogCare">Dog Care</a></li>
                <li><a href="CatCare">Cat Care</a></li>
                <li><a href="GivePet">Have a pet to give away?</a></li>
                <li><a href="ContactUs">Contact Us</a></li>
            </ul>
        </nav>

    </div>
    <div class="main">
        <h2>Here are a few resources to help you take care of your cat!</h2>

        <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care">General Cat Care by the ASPCA</a>
        <br><br><br>
        <a href="https://spca.bc.ca/faqs/cats/">Caring for Cats by the SPCA</a>
        <br><br><br>
        <a href="https://www.humanesociety.org/caring-your-cat">Caring for your cat by the HumaneSociety</a>


    </div>
    <div id="disclaimerPopup" class="popup">
        <div id="disclaimerContent">
            <h3 style="text-align: center;">Disclaimer</h3>
            <p>
                Any information disclosed to Precious Animal World (PAW) will not be sold, given away, or misused. PAW
                also reserves the right to place all responsibility for incorrectly posted information onto the pet
                owners themselves.
            </p>
            <a id="closeDisclaimer" href="#">x</a>
        </div>
    </div>
    <div class="navfooter">
        <a href="#disclaimerPopup">View Privacy Disclaimer</a>
    </div>



</body>

</html>