<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="stylesheets/main_stylesheet.css">
    <title>Contact us</title>
</head>

<body>

    <div class="nav">
        <header>
            <table>
                <tr>
                    <td class="left">
                        <a href="/">
                            <img src="images/nav_logo.png" alt="Adopt a cat/dog logo"></a>
                    </td>
                    <td class="center">
                        <h1 class="nav_title">Precious Animal World</h1>
                    </td>
                    <td class="right">
                        <div>
                            <a href="#" id="nav_time"></a>
                        </div>
                        <script src="javascripts/time.js"></script>
                    </td>
                </tr>
            </table>
        </header>
    </div>
    <div class="sidemenu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="pets">Browse Available Pets</a></li>
                <li><a href="Find">Find a dog/cat</a></li>
                <li><a href="DogCare">Dog Care</a></li>
                <li><a href="CatCare">Cat Care</a></li>
                <li><a href="GivePet">Have a pet to give away?</a></li>
                <li><a href="ContactUs">Contact Us</a></li>
            </ul>
        </nav>

    </div>
    <div class="main">
        <h2>
            Have a question? Feel free to reach out!
        </h2>
        <h3 style="color:rgb(255, 130, 170)">Name: Duc Vinh Lam</h3>
        <h3 style="color:rgb(255, 130, 170)">Student ID: 40282959</h3>
        <a href="mailto:du_la@live.concordia.ca">
            <h3>du_la@live.concordia.ca</h3>
        </a>

    </div>
    <div id="disclaimerPopup" class="popup">
        <div id="disclaimerContent">
            <h3 style="text-align: center;">Disclaimer</h3>
            <p>
                Any information disclosed to Precious Animal World (PAW) will not be sold, given away, or misused. PAW
                also reserves the right to place all responsibility for incorrectly posted information onto the pet
                owners themselves.
            </p>
            <a id="closeDisclaimer" href="#">x</a>
        </div>
    </div>
    <div class="navfooter">
        <a href="#disclaimerPopup">View Privacy Disclaimer</a>
    </div>



</body>

</html>