<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="stylesheets/care.css">
</head>

<body>
    <%- include('../partials/header'); %>
        <%- include('../partials/sidemenu'); %>

            <main class="main">

                <h2>Here are a few resources to help you take care of your cat!</h2>

                <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care">General Cat Care by the ASPCA</a>
                <br><br><br>
                <a href="https://spca.bc.ca/faqs/cats/">Caring for Cats by the SPCA</a>
                <br><br><br>
                <a href="https://www.humanesociety.org/caring-your-cat">Caring for your cat by the HumaneSociety</a>


            </main>



            <%- include('../partials/footer'); %>
</body>

</html>