<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <%- include('../partials/sidemenu'); %>

    <main class="main">
        <h2>
            Have a question? Feel free to reach out!
        </h2>
        <h3 style="color:rgb(255, 130, 170)">Name: Duc Vinh Lam</h3>
        <h3>there used to be an email here... but if you got here, you probably know what the email is!</h3>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>