<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="stylesheets/care.css">

</head>

<body>
    <%- include('../partials/header'); %>
        <%- include('../partials/sidemenu'); %>

            <main class="main">

                <h2>Here are a few resources to help you take care of your dog!</h2>

                <a href="https://www.aspca.org/pet-care/dog-care/general-dog-care">General Dog Care by the ASPCA</a>
                <br><br><br>
                <a href="https://spca.bc.ca/faqs/dogs/">Caring for Dogs by the SPCA</a>
                <br><br><br>
                <a href="https://www.petmd.com/dog/care/responsible-pet-owners-checklist-taking-care-pet">The
                    Responsible Pet Owner's Checklist for Taking Care of a Pet by petMD</a>


            </main>



            <%- include('../partials/footer'); %>
</body>

</html>