<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <%- include('../partials/sidemenu'); %>

    <main class="main">

        <h2>Account created successfully!</h2>
        <p>You are now ready to log-in at any time.</p>
        <br><br>
        <a href="/">Click here to return back to the home page.</a>
        <br><br>
        <a href="/login">Click here to login!</a>

    </main>



    <%- include('../partials/footer'); %>
</body>
</html>