<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A3-Q1</title>
</head>

<body>
    <h1>Assignment 3 - SOEN287</h1>

    <h2>Exercise 1</h2>

    <h3>A - find summation</h3>
    <form action="/Q1A" method="post">
        <p>Parameter(s): A positive integer number (default value is =1)</p>
        <input type="number" name="number" value="1">
        <input type="submit" value="Submit">
    </form>

    <h3> B - uppercaseFirstandLast</h3>
    <form action="/Q1B" method="post">
        <p>Parameter(s): String</p>
        <input type="text" name="str">
        <input type="submit" value="Submit">

    </form>

    <h3> C - findAverageAndMedian</h3>
    <form action="/Q1C" method="post">
        <p>Parameter: An array of numbers. <i>e.g. 1, 2, -4, 6, 3</i></p>
        <input type="text" name="arr">
        <input type="submit" value="Submit">
    </form>

    <h3> D - find4Digits</h3>
    <form action="/Q1D" method="post">
        <p>Parameter: A string of numbers separated by spaces.</p>
        <input type="text" name="str">
        <input type="submit" value="Submit">
    </form>

    <h2>Exercise 2</h2>
    <p>The following link will show you how many times you've visited the page, and the last time you visited it.</p>
    <a href="/Q2">click me! :D</a>

    <h2>Exercise 3</h2>
    <p>Please enter your name and phone number</p>
    <form action="/Q3" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" name="phoneNumber" id="phoneNumber">
        <input type="submit" value="Submit">
    </form>

</body>

</html>