<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PAW Adoption</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/main_stylesheet.css" type ="text/css">
    <link rel="stylesheet" href="/stylesheets/home.css" type = "text/css">
</head>

<body>

    <div class="nav">
        <header>
            <table>
                <tr>
                    <td class="left">
                        <a href="/">
                            <img src="/images/nav_logo.png" alt="Adopt a cat/dog logo"></a>
                    </td>
                    <td class="center">
                        <h1 class="nav_title">Precious Animal World</h1>
                    </td>
                    <td class="right">
                        <div>
                            <a href="" id="nav_time"></a>
                        </div>
                        <script src="/javascripts/time.js" type=""></script>
                    </td>
                </tr>
            </table>
        </header>
    </div>

    <div class="sidemenu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="pets">Browse Available Pets</a></li>
                <li><a href="Find">Find a dog/cat</a></li>
                <li><a href="DogCare">Dog Care</a></li>
                <li><a href="CatCare">Cat Care</a></li>
                <li><a href="GivePet">Have a pet to give away?</a></li>
                <li><a href="ContactUs">Contact Us</a></li>
            </ul>
        </nav>

    </div>

    <div class="main">

        <section>
            <h2>Welcome to Precious Animal World!</h2>
        </section>
        <p>
            Welcome to our website dedicated to helping you find your perfect furry companion!
        </p>
        <p>
            Whether you're a cat lover or a dog enthusiast, our platform is designed to connect you with adorable
            pets waiting for their
            forever homes.
            Browse through profiles, learn about each animal's personality and needs, and embark on
            the journey of finding your new best friend.
        </p>
        <p>
            From playful kittens to loyal pups, there's a furry friend
            here just waiting to steal your heart. Start your adoption journey today and bring joy into your home by
            giving a deserving pet a loving forever family.
        </p>

        <br>

        <div id="main_images_section">
            <!-- first image -->
            <div class="horizontal_block">
                <a target="_blank"
                    href="https://unsplash.com/photos/white-dog-and-gray-cat-hugging-each-other-on-grass-9gz3wfHr65U"><img
                        src="/images/krista-mangulsone-9gz3wfHr65U-unsplash.jpg"
                        alt="A cat and a dog laying down on grass" width="380" height="250">
                </a> <br>
                <p> Photo by <a target="_blank"
                        href="https://unsplash.com/@krista?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Krista
                        Mangulsone</a> on <a target="_blank"
                        href="https://unsplash.com/photos/white-dog-and-gray-cat-hugging-each-other-on-grass-9gz3wfHr65U?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </p>
            </div>

            <!-- second image-->
            <div class="horizontal_block">
                <a target="_blank"
                    href="https://unsplash.com/photos/orange-tabby-cat-on-brown-parquet-floor-LEpfefQf4rU"><img
                        src="images/michael-sum-LEpfefQf4rU-unsplash.jpg" alt="orange tabby cat on brown parquet floor"
                        width="380" height="250">
                </a> <br>
                <p>Photo by <a target="_blank"
                        href="https://unsplash.com/@michaelsum1228?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Michael
                        Sum</a> on <a
                        href="https://unsplash.com/photos/orange-tabby-cat-on-brown-parquet-floor-LEpfefQf4rU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </p>
            </div>

            <!-- third image -->
            <div class="horizontal_block">
                <a target="_blank"
                    href="https://unsplash.com/photos/medium-short-coated-white-dog-lying-on-green-grass-field-LATYeZyw88c"><img
                        src="/images/angel-luciano-LATYeZyw88c-unsplash.jpg"
                        alt="medium-short-coated-white-dog-lying-on-green-grass-field" width="380" height="250">
                </a> <br>
                <p>Photo by <a target="_blank"
                        href="https://unsplash.com/@roaming_angel?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Angel
                        Luciano</a> on <a
                        href="https://unsplash.com/photos/medium-short-coated-white-dog-lying-on-green-grass-field-LATYeZyw88c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </p>
            </div>
        </div>



        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p style="font-size: 11px">Batteries not included.</p>


    </div>
    <div id="disclaimerPopup" class="popup">
        <div id="disclaimerContent">
            <h3 style="text-align: center;">Disclaimer</h3>
            <p>
                Any information disclosed to Precious Animal World (PAW) will not be sold, given away, or misused. PAW
                also reserves the right to place all responsibility for incorrectly posted information onto the pet
                owners themselves.
            </p>
            <a id="closeDisclaimer" href="#">x</a>
        </div>
    </div>


    <div class="navfooter">
        <a href="#disclaimerPopup">View Privacy Disclaimer</a>
    </div>
</body>

</html>