<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/main_stylesheet.css">
    <link rel="stylesheet" href="stylesheets/browse.css">
    <title>Browse available pets</title>
</head>

<body>

    <div class="nav">
        <header>
            <table>
                <tr>
                    <td class="left">
                        <a href="/">
                            <img src="images/nav_logo.png" alt="Adopt a cat/dog logo"></a>
                    </td>
                    <td class="center">
                        <h1 class="nav_title">Precious Animal World</h1>
                    </td>
                    <td class="right">
                        <div>
                            <a href="#" id="nav_time"></a>
                        </div>
                        <script src="javascripts/time.js"></script>
                    </td>
                </tr>
            </table>
        </header>
    </div>

    <div class="sidemenu">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="pets">Browse Available Pets</a></li>
                <li><a href="Find">Find a dog/cat</a></li>
                <li><a href="DogCare">Dog Care</a></li>
                <li><a href="CatCare">Cat Care</a></li>
                <li><a href="GivePet">Have a pet to give away?</a></li>
                <li><a href="ContactUs">Contact Us</a></li>
            </ul>
        </nav>

    </div>
    <div class="main">

        <h2>
            Available for adoption
        </h2>

        <!-- pet template
        

        
        
        -->


        <ul class="list_pet_listings">

            <li>

                <div class="pet_listing">
                    <img src="/images/available_pets/Oscar.jpg" alt="Pet Image">
                    <div class="pet_listing_info">
                        <ul>
                            <li><b>Name:</b> Oscar</li>
                            <li><b>Species:</b> Cat</li>
                            <li><b>Breed:</b> Bombay</li>
                            <li><b>Sex:</b> Male</li>
                            <li><b>Gets along with:</b> Kids</li>
                        </ul>
                    </div>
                    <div class="pet_listing_moreinfo">
                        <div>
                            <h3>Extra info provided by previous owner</h3>
                            <button class="pet_listing_interested">Interested</button>
                        </div>
                        <textarea disabled name="" id="" cols="30"
                            rows="8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat aspernatur fugit molestias necessitatibus dolor sequi quas, at, tenetur doloribus voluptatem laborum sed ab quidem laboriosam facere excepturi aperiam nobis?</textarea>

                    </div>
                </div>
            </li>
            <li>
                <div class="pet_listing">
                    <img src="/images/available_pets/Sheila.jpg" alt="Pet Image">
                    <div class="pet_listing_info">
                        <ul>
                            <li><b>Name:</b> Sheila</li>
                            <li><b>Species:</b> Dog</li>
                            <li><b>Breed:</b> Border Collie</li>
                            <li><b>Sex:</b> Female</li>
                            <li><b>Gets along with:</b> Kids, Cats, Dogs</li>
                        </ul>
                    </div>
                    <div class="pet_listing_moreinfo">
                        <div>
                            <h3>Extra info provided by previous owner</h3>
                            <button class="pet_listing_interested">Interested</button>
                        </div>
                        <textarea disabled name="" id="" cols="30"
                            rows="8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat aspernatur fugit molestias necessitatibus dolor sequi quas, at, tenetur doloribus voluptatem laborum sed ab quidem laboriosam facere excepturi aperiam nobis?</textarea>

                    </div>
                </div>
            </li>
            <li>

                <div class="pet_listing">
                    <img src="/images/available_pets/Danielle.jpg" alt="Pet Image">
                    <div class="pet_listing_info">
                        <ul>
                            <li><b>Name:</b> Danielle</li>
                            <li><b>Species:</b> Cat</li>
                            <li><b>Breed:</b> Tabby</li>
                            <li><b>Sex:</b> Female</li>
                            <li><b>Gets along with:</b> Cats</li>
                        </ul>
                    </div>
                    <div class="pet_listing_moreinfo">
                        <div>
                            <h3>Extra info provided by previous owner</h3>
                            <button class="pet_listing_interested">Interested</button>
                        </div>
                        <textarea disabled name="" id="" cols="30"
                            rows="8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat aspernatur fugit molestias necessitatibus dolor sequi quas, at, tenetur doloribus voluptatem laborum sed ab quidem laboriosam facere excepturi aperiam nobis?</textarea>

                    </div>

            </li>
            <li>
                <div class="pet_listing">
                    <img src="/images/available_pets/Jimmy.jpg" alt="Pet Image">
                    <div class="pet_listing_info">
                        <ul>
                            <li><b>Name:</b> Jimmy</li>
                            <li><b>Species:</b> Dog</li>
                            <li><b>Breed:</b> Golden Retriever</li>
                            <li><b>Sex:</b> Male</li>
                            <li><b>Gets along with:</b> Cats, Dogs, Cindy</li>
                        </ul>
                    </div>
                    <div class="pet_listing_moreinfo">
                        <div>
                            <h3>Extra info provided by previous owner</h3>
                            <button class="pet_listing_interested">Interested</button>
                        </div>
                        <textarea disabled name="" id="" cols="30"
                            rows="8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat aspernatur fugit molestias necessitatibus dolor sequi quas, at, tenetur doloribus voluptatem laborum sed ab quidem laboriosam facere excepturi aperiam nobis?</textarea>

                    </div>
                </div>
            </li>
            <li>
                <div class="pet_listing">
                    <img src="/images/available_pets/Haku.jpg" alt="Pet Image">
                    <div class="pet_listing_info">
                        <ul>
                            <li><b>Name:</b> Haku</li>
                            <li><b>Species:</b> Unknown</li>
                            <li><b>Breed:</b> Unknown</li>
                            <li><b>Sex:</b> Unknown</li>
                            <li><b>Gets along with:</b> Steven</li>
                        </ul>
                    </div>
                    <div class="pet_listing_moreinfo">
                        <div>
                            <h3>Extra info provided by previous owner</h3>
                            <button class="pet_listing_interested">Interested</button>
                        </div>
                        <textarea disabled name="" id="" cols="30"
                            rows="8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat aspernatur fugit molestias necessitatibus dolor sequi quas, at, tenetur doloribus voluptatem laborum sed ab quidem laboriosam facere excepturi aperiam nobis?</textarea>

                    </div>
                </div>


            </li>

            <li>
                <div class="pet_listing">
                    <img src="/images/available_pets/Djungo.jpg" alt="Pet Image">
                    <div class="pet_listing_info">
                        <ul>
                            <li><b>Name:</b> Djungo</li>
                            <li><b>Species:</b> Unknown</li>
                            <li><b>Breed:</b> Unknown</li>
                            <li><b>Sex:</b> Male</li>
                            <li><b>Gets along with:</b> Gym Bros</li>
                        </ul>
                    </div>
                    <div class="pet_listing_moreinfo">
                        <div>
                            <h3>Extra info provided by previous owner</h3>
                            <button class="pet_listing_interested">Interested</button>
                        </div>
                        <textarea disabled name="" id="" cols="30"
                            rows="8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat aspernatur fugit molestias necessitatibus dolor sequi quas, at, tenetur doloribus voluptatem laborum sed ab quidem laboriosam facere excepturi aperiam nobis?</textarea>

                    </div>
                </div>
            </li>

        </ul>

    </div>
    </div>
    <div id="disclaimerPopup" class="popup">
        <div id="disclaimerContent">
            <h3 style="text-align: center;">Disclaimer</h3>
            <p>
                Any information disclosed to Precious Animal World (PAW) will not be sold, given away, or misused. PAW
                also reserves the right to place all responsibility for incorrectly posted information onto the pet
                owners themselves.
            </p>
            <a id="closeDisclaimer" href="#">x</a>
        </div>
    </div>
    <div class="navfooter">
        <a href="#disclaimerPopup">View Privacy Disclaimer</a>
    </div>

</body>

</html>