<div class="navfooter">
    <a href="#disclaimerPopup">View Privacy Disclaimer</a>
</div>

<div id="disclaimerPopup" class="popup">
    <div id="disclaimerContent">
        <h3 style="text-align: center;">Disclaimer</h3>
        <p>
            Any information disclosed to Precious Animal World (PAW) will not be sold, given away, or misused. PAW
            also reserves the right to place all responsibility for incorrectly posted information onto the pet
            owners themselves.
        </p>
        <a id="closeDisclaimer" href="#">x</a>
    </div>
</div>
