<div class="nav">
    <header>
        <table>
            <tr>
                <td class="left">
                    <a href="/">
                        <img src="/images/nav_logo.png" alt="Adopt a cat/dog logo"></a>
                </td>
                <td class="center">
                    <h1 class="nav_title">Precious Animal World</h1>
                </td>
                <td class="right">
                    <div>
                        <a href="#" id="nav_time"></a>
                    </div>
                    <script src="javascripts/time.js"></script>
                </td>
            </tr>
        </table>
    </header>
</div>